# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules


# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# docker
docker/volumes/db/data
docker/volumes/storage
!docker/volumes/logs
docker/docker-compose.override.yml