# URL to your supabase instance
SUPABASE_URL=http://localhost:8000

# Get the anon key here: https://supabase.com/dashboard/project/<your_project_id>/settings/api
# or generate it here: https://supabase.com/docs/guides/self-hosting/docker#generate-api-keys
SUPABASE_KEY=USE_YOUR_ANON_KEY_HERE


INVENTRONIC_PORT=3000
BASE_URL=http://localhost:${INVENTRONIC_PORT}/


### SUPABASE CONFIGURATION

############
# Secrets
# YOU MUST CHANGE THESE BEFORE GOING INTO PRODUCTION
############

POSTGRES_PASSWORD=this_is_not_a_secure_password
# generate your JWT secret and keys here:
# https://supabase.com/docs/guides/self-hosting/docker#generate-api-keys
JWT_SECRET=JWT_SECRET_HERE
ANON_KEY=USE_YOUR_ANON_KEY_HERE
SERVICE_ROLE_KEY=USE_YOUR_SERVICE_KEY_HERE
DASHBOARD_USERNAME=supabase
DASHBOARD_PASSWORD=this_is_not_a_secure_password

############
# Database - You can change these to any PostgreSQL database that has logical replication enabled.
############

POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_PORT=5432
# default user is postgres

############
# API Proxy - Configuration for the Kong Reverse proxy.
############

KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443
API_EXTERNAL_URL=http://localhost:8000
SUPABASE_PUBLIC_URL=http://localhost:8000

############
# API - Configuration for PostgREST.
############

PGRST_DB_SCHEMAS=public,storage,graphql_public


############
# Auth - Configuration for the GoTrue authentication server.
############

## General
SITE_URL=http://localhost:3000
ADDITIONAL_REDIRECT_URLS=http://localhost:3000
JWT_EXPIRY=86400
DISABLE_SIGNUP=false
API_EXTERNAL_URL=http://localhost:8000
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:8000/auth/v1/callback
## Mailer Config
MAILER_URLPATHS_CONFIRMATION="http://localhost:8000/auth/v1/verify"
MAILER_URLPATHS_INVITE="http://localhost:8000/auth/v1/verify"
MAILER_URLPATHS_RECOVERY="http://localhost:8000/auth/v1/verify"
MAILER_URLPATHS_EMAIL_CHANGE="http://localhost:8000/auth/v1/verify"

## Email auth
ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=true
SMTP_ADMIN_EMAIL=admin@example.org
SMTP_HOST=mail
SMTP_PORT=2500
SMTP_USER=
SMTP_PASS=
SMTP_SENDER_NAME=Inventronic

## Phone auth
ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true


############
# Studio - Configuration for the Dashboard
############

STUDIO_DEFAULT_ORGANIZATION=Default Organization
STUDIO_DEFAULT_PROJECT=Default Project

STUDIO_PORT=3000
# replace if you intend to use Studio outside of localhost
SUPABASE_PUBLIC_URL=http://localhost:8000

# Enable webp support
IMGPROXY_ENABLE_WEBP_DETECTION=true

############
# Functions - Configuration for Functions
############
# NOTE: VERIFY_JWT applies to all functions. Per-function VERIFY_JWT is not supported yet.
FUNCTIONS_VERIFY_JWT=false

############
# Logs - Configuration for Logflare
# Please refer to https://supabase.com/docs/reference/self-hosting-analytics/introduction
############

LOGFLARE_LOGGER_BACKEND_API_KEY=your-super-secret-and-long-logflare-key

# Change vector.toml sinks to reflect this change
LOGFLARE_API_KEY=your-super-secret-and-long-logflare-key

# Docker socket location - this value will differ depending on your OS
DOCKER_SOCKET_LOCATION=/var/run/docker.sock

# Google Cloud Project details
GOOGLE_PROJECT_ID=GOOGLE_PROJECT_ID
GOOGLE_PROJECT_NUMBER=GOOGLE_PROJECT_NUMBER
